.logo {
  float: left;
  line-height: 76px;
  width: 50%;
}
.logo__text {
  font-family: 'Gora-free';
  font-size: 18px;
  color: #f89513;
  text-decoration: none;
  letter-spacing: 2px;
  
}
.contacts {
  float: left;
  text-align: right;
  width: 50%;
  margin-top: 20px;
  font-style: normal;
}
.contacts__phone {
  font-size: 21px;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  display: block;
}
.contacts__worktime {
  font-size: 14px;
  font-weight: 700;
  color:#f89513;
  
}
.contacts__worktime:hover {
  text-decoration: none;
}
.contacts__worktime:hover + .header__dropdown-wrap {
  left:920px;
}
.header {
  height: 76px;
  background: #131415;
  margin-bottom: 45px;
}
.header .container {
  position: relative;
}
.header__dropdown-wrap {
  position: absolute;
  top: 64px;
  left: -99999px;
}
.header__dropdown {
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  margin-top: 12px;
  z-index: 2;
  width: 160px;
  height: 70px;
  font-weight: 300;
  border: 1px solid;
  border-color: rgba(19, 20, 21, 0.2);
  border-radius: 5px;
  background: #fff;
  position: relative;
  padding: 16px;
  font-size: 14px;
  line-height: 18px;
}
.empty {
  position: absolute;
  top:-5px;
  right: 2px;
  width: 15px;
  height: 15px;
  background: #fff;
  border-radius: 5px;
  transform: rotate(45deg);
}
.header__dropdown b {
  font-weight: 700;
  color:#f89513;
}